// #workbench\.parts\.editor {
//   .title:not(.tabs) {
//     display: none;
//   }
// }

/* hide tabs in zen mode */
div.title.breadcrumbs {
    display: none !important;
}

// /* replace vertical space left by hidden tabs */
// div.editor-container,
// div.editor-instance,
// /* div.monaco-editor, */
// div.overflow-guard
// /* div.monaco-scrollable-element  */
// {
//   height: 100% !important;
// }

// /* same thing, for webviews */
// div[id^=webview] {
//   overflow: initial !important;
// }
// iframe.webview {
//   height: calc(100% + 35px) !important;
// }

